In [1]:
import pandas as pd
import numpy as np
from sklearn import neighbors
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from statsmodels.formula.api import ols
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import MinMaxScaler 
from sklearn.preprocessing import StandardScaler
from scipy import stats
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import OneHotEncoder

In [2]:
df=pd.read_csv(r'D:\WB\Ironhack\Lesson7\learningSet.csv')

In [3]:
df.shape

(95412, 481)

In [22]:
df.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Columns: 481 entries, ODATEDW to GEOCODE2
dtypes: float64(97), int64(310), object(74)
memory usage: 350.1+ MB

### Instructions
Complete the following steps on the categorical columns in the dataset:

#### 1. Check for null values in all the columns

In [24]:
for col in df:
    print('In the {} column ther are {} nulls'.format(col,df[col].isnull().sum()))

In the ODATEDW column ther are 0 nulls
In the OSOURCE column ther are 0 nulls
In the TCODE column ther are 0 nulls
In the STATE column ther are 0 nulls
In the ZIP column ther are 0 nulls
In the MAILCODE column ther are 0 nulls
In the PVASTATE column ther are 0 nulls
In the DOB column ther are 0 nulls
In the NOEXCH column ther are 0 nulls
In the RECINHSE column ther are 0 nulls
In the RECP3 column ther are 0 nulls
In the RECPGVG column ther are 0 nulls
In the RECSWEEP column ther are 0 nulls
In the MDMAUD column ther are 0 nulls
In the DOMAIN column ther are 0 nulls
In the CLUSTER column ther are 0 nulls
In the AGE column ther are 23665 nulls
In the AGEFLAG column ther are 0 nulls
In the HOMEOWNR column ther are 0 nulls
In the CHILD03 column ther are 0 nulls
In the CHILD07 column ther are 0 nulls
In the CHILD12 column ther are 0 nulls
In the CHILD18 column ther are 0 nulls
In the NUMCHLD column ther are 83026 nulls
In the INCOME column ther are 21286 nulls
In the GENDER column ther are 0 nulls
In the WEALTH1 column ther are 44732 nulls
In the HIT column ther are 0 nulls
In the MBCRAFT column ther are 52854 nulls
In the MBGARDEN column ther are 52854 nulls
In the MBBOOKS column ther are 52854 nulls
In the MBCOLECT column ther are 52914 nulls
In the MAGFAML column ther are 52854 nulls
In the MAGFEM column ther are 52854 nulls
In the MAGMALE column ther are 52854 nulls
In the PUBGARDN column ther are 52854 nulls
In the PUBCULIN column ther are 52854 nulls
In the PUBHLTH column ther are 52854 nulls
In the PUBDOITY column ther are 52854 nulls
In the PUBNEWFN column ther are 52854 nulls
In the PUBPHOTO column ther are 52854 nulls
In the PUBOPP column ther are 52854 nulls
In the DATASRCE column ther are 0 nulls
In the MALEMILI column ther are 0 nulls
In the MALEVET column ther are 0 nulls
In the VIETVETS column ther are 0 nulls
In the WWIIVETS column ther are 0 nulls
In the LOCALGOV column ther are 0 nulls
In the STATEGOV column ther are 0 nulls
In the FEDGOV column ther are 0 nulls
In the SOLP3 column ther are 0 nulls
In the SOLIH column ther are 0 nulls
In the MAJOR column ther are 0 nulls
In the WEALTH2 column ther are 43823 nulls
In the GEOCODE column ther are 0 nulls
In the COLLECT1 column ther are 0 nulls
In the VETERANS column ther are 0 nulls
In the BIBLE column ther are 0 nulls
In the CATLG column ther are 0 nulls
In the HOMEE column ther are 0 nulls
In the PETS column ther are 0 nulls
In the CDPLAY column ther are 0 nulls
In the STEREO column ther are 0 nulls
In the PCOWNERS column ther are 0 nulls
In the PHOTO column ther are 0 nulls
In the CRAFTS column ther are 0 nulls
In the FISHER column ther are 0 nulls
In the GARDENIN column ther are 0 nulls
In the BOATS column ther are 0 nulls
In the WALKER column ther are 0 nulls
In the KIDSTUFF column ther are 0 nulls
In the CARDS column ther are 0 nulls
In the PLATES column ther are 0 nulls
In the LIFESRC column ther are 0 nulls
In the PEPSTRFL column ther are 0 nulls
In the POP901 column ther are 0 nulls
In the POP902 column ther are 0 nulls
In the POP903 column ther are 0 nulls
In the POP90C1 column ther are 0 nulls
In the POP90C2 column ther are 0 nulls
In the POP90C3 column ther are 0 nulls
In the POP90C4 column ther are 0 nulls
In the POP90C5 column ther are 0 nulls
In the ETH1 column ther are 0 nulls
In the ETH2 column ther are 0 nulls
In the ETH3 column ther are 0 nulls
In the ETH4 column ther are 0 nulls
In the ETH5 column ther are 0 nulls
In the ETH6 column ther are 0 nulls
In the ETH7 column ther are 0 nulls
In the ETH8 column ther are 0 nulls
In the ETH9 column ther are 0 nulls
In the ETH10 column ther are 0 nulls
In the ETH11 column ther are 0 nulls
In the ETH12 column ther are 0 nulls
In the ETH13 column ther are 0 nulls
In the ETH14 column ther are 0 nulls
In the ETH15 column ther are 0 nulls
In the ETH16 column ther are 0 nulls
In the AGE901 column ther are 0 nulls
In the AGE902 column ther are 0 nulls
In the AGE903 column ther are 0 nulls
In the AGE904 column ther are 0 nulls
In the AGE905 column ther are 0 nulls
In the AGE906 column ther are 0 nulls
In the AGE907 column ther are 0 nulls
In the CHIL1 column ther are 0 nulls
In the CHIL2 column ther are 0 nulls
In the CHIL3 column ther are 0 nulls
In the AGEC1 column ther are 0 nulls
In the AGEC2 column ther are 0 nulls
In the AGEC3 column ther are 0 nulls
In the AGEC4 column ther are 0 nulls
In the AGEC5 column ther are 0 nulls
In the AGEC6 column ther are 0 nulls
In the AGEC7 column ther are 0 nulls
In the CHILC1 column ther are 0 nulls
In the CHILC2 column ther are 0 nulls
In the CHILC3 column ther are 0 nulls
In the CHILC4 column ther are 0 nulls
In the CHILC5 column ther are 0 nulls
In the HHAGE1 column ther are 0 nulls
In the HHAGE2 column ther are 0 nulls
In the HHAGE3 column ther are 0 nulls
In the HHN1 column ther are 0 nulls
In the HHN2 column ther are 0 nulls
In the HHN3 column ther are 0 nulls
In the HHN4 column ther are 0 nulls
In the HHN5 column ther are 0 nulls
In the HHN6 column ther are 0 nulls
In the MARR1 column ther are 0 nulls
In the MARR2 column ther are 0 nulls
In the MARR3 column ther are 0 nulls
In the MARR4 column ther are 0 nulls
In the HHP1 column ther are 0 nulls
In the HHP2 column ther are 0 nulls
In the DW1 column ther are 0 nulls
In the DW2 column ther are 0 nulls
In the DW3 column ther are 0 nulls
In the DW4 column ther are 0 nulls
In the DW5 column ther are 0 nulls
In the DW6 column ther are 0 nulls
In the DW7 column ther are 0 nulls
In the DW8 column ther are 0 nulls
In the DW9 column ther are 0 nulls
In the HV1 column ther are 0 nulls
In the HV2 column ther are 0 nulls
In the HV3 column ther are 0 nulls
In the HV4 column ther are 0 nulls
In the HU1 column ther are 0 nulls
In the HU2 column ther are 0 nulls
In the HU3 column ther are 0 nulls
In the HU4 column ther are 0 nulls
In the HU5 column ther are 0 nulls
In the HHD1 column ther are 0 nulls
In the HHD2 column ther are 0 nulls
In the HHD3 column ther are 0 nulls
In the HHD4 column ther are 0 nulls
In the HHD5 column ther are 0 nulls
In the HHD6 column ther are 0 nulls
In the HHD7 column ther are 0 nulls
In the HHD8 column ther are 0 nulls
In the HHD9 column ther are 0 nulls
In the HHD10 column ther are 0 nulls
In the HHD11 column ther are 0 nulls
In the HHD12 column ther are 0 nulls
In the ETHC1 column ther are 0 nulls
In the ETHC2 column ther are 0 nulls
In the ETHC3 column ther are 0 nulls
In the ETHC4 column ther are 0 nulls
In the ETHC5 column ther are 0 nulls
In the ETHC6 column ther are 0 nulls
In the HVP1 column ther are 0 nulls
In the HVP2 column ther are 0 nulls
In the HVP3 column ther are 0 nulls
In the HVP4 column ther are 0 nulls
In the HVP5 column ther are 0 nulls
In the HVP6 column ther are 0 nulls
In the HUR1 column ther are 0 nulls
In the HUR2 column ther are 0 nulls
In the RHP1 column ther are 0 nulls
In the RHP2 column ther are 0 nulls
In the RHP3 column ther are 0 nulls
In the RHP4 column ther are 0 nulls
In the HUPA1 column ther are 0 nulls
In the HUPA2 column ther are 0 nulls
In the HUPA3 column ther are 0 nulls
In the HUPA4 column ther are 0 nulls
In the HUPA5 column ther are 0 nulls
In the HUPA6 column ther are 0 nulls
In the HUPA7 column ther are 0 nulls
In the RP1 column ther are 0 nulls
In the RP2 column ther are 0 nulls
In the RP3 column ther are 0 nulls
In the RP4 column ther are 0 nulls
In the MSA column ther are 132 nulls
In the ADI column ther are 132 nulls
In the DMA column ther are 132 nulls
In the IC1 column ther are 0 nulls
In the IC2 column ther are 0 nulls
In the IC3 column ther are 0 nulls
In the IC4 column ther are 0 nulls
In the IC5 column ther are 0 nulls
In the IC6 column ther are 0 nulls
In the IC7 column ther are 0 nulls
In the IC8 column ther are 0 nulls
In the IC9 column ther are 0 nulls
In the IC10 column ther are 0 nulls
In the IC11 column ther are 0 nulls
In the IC12 column ther are 0 nulls
In the IC13 column ther are 0 nulls
In the IC14 column ther are 0 nulls
In the IC15 column ther are 0 nulls
In the IC16 column ther are 0 nulls
In the IC17 column ther are 0 nulls
In the IC18 column ther are 0 nulls
In the IC19 column ther are 0 nulls
In the IC20 column ther are 0 nulls
In the IC21 column ther are 0 nulls
In the IC22 column ther are 0 nulls
In the IC23 column ther are 0 nulls
In the HHAS1 column ther are 0 nulls
In the HHAS2 column ther are 0 nulls
In the HHAS3 column ther are 0 nulls
In the HHAS4 column ther are 0 nulls
In the MC1 column ther are 0 nulls
In the MC2 column ther are 0 nulls
In the MC3 column ther are 0 nulls
In the TPE1 column ther are 0 nulls
In the TPE2 column ther are 0 nulls
In the TPE3 column ther are 0 nulls
In the TPE4 column ther are 0 nulls
In the TPE5 column ther are 0 nulls
In the TPE6 column ther are 0 nulls
In the TPE7 column ther are 0 nulls
In the TPE8 column ther are 0 nulls
In the TPE9 column ther are 0 nulls
In the PEC1 column ther are 0 nulls
In the PEC2 column ther are 0 nulls
In the TPE10 column ther are 0 nulls
In the TPE11 column ther are 0 nulls
In the TPE12 column ther are 0 nulls
In the TPE13 column ther are 0 nulls
In the LFC1 column ther are 0 nulls
In the LFC2 column ther are 0 nulls
In the LFC3 column ther are 0 nulls
In the LFC4 column ther are 0 nulls
In the LFC5 column ther are 0 nulls
In the LFC6 column ther are 0 nulls
In the LFC7 column ther are 0 nulls
In the LFC8 column ther are 0 nulls
In the LFC9 column ther are 0 nulls
In the LFC10 column ther are 0 nulls
In the OCC1 column ther are 0 nulls
In the OCC2 column ther are 0 nulls
In the OCC3 column ther are 0 nulls
In the OCC4 column ther are 0 nulls
In the OCC5 column ther are 0 nulls
In the OCC6 column ther are 0 nulls
In the OCC7 column ther are 0 nulls
In the OCC8 column ther are 0 nulls
In the OCC9 column ther are 0 nulls
In the OCC10 column ther are 0 nulls
In the OCC11 column ther are 0 nulls
In the OCC12 column ther are 0 nulls
In the OCC13 column ther are 0 nulls
In the EIC1 column ther are 0 nulls
In the EIC2 column ther are 0 nulls
In the EIC3 column ther are 0 nulls
In the EIC4 column ther are 0 nulls
In the EIC5 column ther are 0 nulls
In the EIC6 column ther are 0 nulls
In the EIC7 column ther are 0 nulls
In the EIC8 column ther are 0 nulls
In the EIC9 column ther are 0 nulls
In the EIC10 column ther are 0 nulls
In the EIC11 column ther are 0 nulls
In the EIC12 column ther are 0 nulls
In the EIC13 column ther are 0 nulls
In the EIC14 column ther are 0 nulls
In the EIC15 column ther are 0 nulls
In the EIC16 column ther are 0 nulls
In the OEDC1 column ther are 0 nulls
In the OEDC2 column ther are 0 nulls
In the OEDC3 column ther are 0 nulls
In the OEDC4 column ther are 0 nulls
In the OEDC5 column ther are 0 nulls
In the OEDC6 column ther are 0 nulls
In the OEDC7 column ther are 0 nulls
In the EC1 column ther are 0 nulls
In the EC2 column ther are 0 nulls
In the EC3 column ther are 0 nulls
In the EC4 column ther are 0 nulls
In the EC5 column ther are 0 nulls
In the EC6 column ther are 0 nulls
In the EC7 column ther are 0 nulls
In the EC8 column ther are 0 nulls
In the SEC1 column ther are 0 nulls
In the SEC2 column ther are 0 nulls
In the SEC3 column ther are 0 nulls
In the SEC4 column ther are 0 nulls
In the SEC5 column ther are 0 nulls
In the AFC1 column ther are 0 nulls
In the AFC2 column ther are 0 nulls
In the AFC3 column ther are 0 nulls
In the AFC4 column ther are 0 nulls
In the AFC5 column ther are 0 nulls
In the AFC6 column ther are 0 nulls
In the VC1 column ther are 0 nulls
In the VC2 column ther are 0 nulls
In the VC3 column ther are 0 nulls
In the VC4 column ther are 0 nulls
In the ANC1 column ther are 0 nulls
In the ANC2 column ther are 0 nulls
In the ANC3 column ther are 0 nulls
In the ANC4 column ther are 0 nulls
In the ANC5 column ther are 0 nulls
In the ANC6 column ther are 0 nulls
In the ANC7 column ther are 0 nulls
In the ANC8 column ther are 0 nulls
In the ANC9 column ther are 0 nulls
In the ANC10 column ther are 0 nulls
In the ANC11 column ther are 0 nulls
In the ANC12 column ther are 0 nulls
In the ANC13 column ther are 0 nulls
In the ANC14 column ther are 0 nulls
In the ANC15 column ther are 0 nulls
In the POBC1 column ther are 0 nulls
In the POBC2 column ther are 0 nulls
In the LSC1 column ther are 0 nulls
In the LSC2 column ther are 0 nulls
In the LSC3 column ther are 0 nulls
In the LSC4 column ther are 0 nulls
In the VOC1 column ther are 0 nulls
In the VOC2 column ther are 0 nulls
In the VOC3 column ther are 0 nulls
In the HC1 column ther are 0 nulls
In the HC2 column ther are 0 nulls
In the HC3 column ther are 0 nulls
In the HC4 column ther are 0 nulls
In the HC5 column ther are 0 nulls
In the HC6 column ther are 0 nulls
In the HC7 column ther are 0 nulls
In the HC8 column ther are 0 nulls
In the HC9 column ther are 0 nulls
In the HC10 column ther are 0 nulls
In the HC11 column ther are 0 nulls
In the HC12 column ther are 0 nulls
In the HC13 column ther are 0 nulls
In the HC14 column ther are 0 nulls
In the HC15 column ther are 0 nulls
In the HC16 column ther are 0 nulls
In the HC17 column ther are 0 nulls
In the HC18 column ther are 0 nulls
In the HC19 column ther are 0 nulls
In the HC20 column ther are 0 nulls
In the HC21 column ther are 0 nulls
In the MHUC1 column ther are 0 nulls
In the MHUC2 column ther are 0 nulls
In the AC1 column ther are 0 nulls

In the AC2 column ther are 0 nulls
In the ADATE_2 column ther are 0 nulls
In the ADATE_3 column ther are 1950 nulls
In the ADATE_4 column ther are 2191 nulls
In the ADATE_5 column ther are 33590 nulls
In the ADATE_6 column ther are 3557 nulls
In the ADATE_7 column ther are 8874 nulls
In the ADATE_8 column ther are 3511 nulls
In the ADATE_9 column ther are 11245 nulls
In the ADATE_10 column ther are 32748 nulls
In the ADATE_11 column ther are 10422 nulls
In the ADATE_12 column ther are 8923 nulls
In the ADATE_13 column ther are 40219 nulls
In the ADATE_14 column ther are 18867 nulls
In the ADATE_15 column ther are 65477 nulls
In the ADATE_16 column ther are 20364 nulls
In the ADATE_17 column ther are 27650 nulls
In the ADATE_18 column ther are 21263 nulls
In the ADATE_19 column ther are 24480 nulls
In the ADATE_20 column ther are 50200 nulls
In the ADATE_21 column ther are 35212 nulls
In the ADATE_22 column ther are 25648 nulls
In the ADATE_23 column ther are 56270 nulls
In the ADATE_24 column ther are 36973 nulls
In the RFA_2 column ther are 0 nulls
In the RFA_3 column ther are 0 nulls
In the RFA_4 column ther are 0 nulls
In the RFA_5 column ther are 0 nulls
In the RFA_6 column ther are 0 nulls
In the RFA_7 column ther are 0 nulls
In the RFA_8 column ther are 0 nulls
In the RFA_9 column ther are 0 nulls
In the RFA_10 column ther are 0 nulls
In the RFA_11 column ther are 0 nulls
In the RFA_12 column ther are 0 nulls
In the RFA_13 column ther are 0 nulls
In the RFA_14 column ther are 0 nulls
In the RFA_15 column ther are 0 nulls
In the RFA_16 column ther are 0 nulls
In the RFA_17 column ther are 0 nulls
In the RFA_18 column ther are 0 nulls
In the RFA_19 column ther are 0 nulls
In the RFA_20 column ther are 0 nulls
In the RFA_21 column ther are 0 nulls
In the RFA_22 column ther are 0 nulls
In the RFA_23 column ther are 0 nulls
In the RFA_24 column ther are 0 nulls
In the CARDPROM column ther are 0 nulls
In the MAXADATE column ther are 0 nulls
In the NUMPROM column ther are 0 nulls
In the CARDPM12 column ther are 0 nulls
In the NUMPRM12 column ther are 0 nulls
In the RDATE_3 column ther are 95170 nulls
In the RDATE_4 column ther are 95131 nulls
In the RDATE_5 column ther are 95403 nulls
In the RDATE_6 column ther are 94636 nulls
In the RDATE_7 column ther are 86517 nulls
In the RDATE_8 column ther are 73940 nulls
In the RDATE_9 column ther are 78678 nulls
In the RDATE_10 column ther are 84951 nulls
In the RDATE_11 column ther are 80672 nulls
In the RDATE_12 column ther are 69712 nulls
In the RDATE_13 column ther are 83162 nulls
In the RDATE_14 column ther are 72095 nulls
In the RDATE_15 column ther are 88150 nulls
In the RDATE_16 column ther are 68418 nulls
In the RDATE_17 column ther are 86011 nulls
In the RDATE_18 column ther are 75634 nulls
In the RDATE_19 column ther are 79535 nulls
In the RDATE_20 column ther are 87524 nulls
In the RDATE_21 column ther are 85899 nulls
In the RDATE_22 column ther are 74539 nulls
In the RDATE_23 column ther are 87553 nulls
In the RDATE_24 column ther are 77674 nulls
In the RAMNT_3 column ther are 95170 nulls
In the RAMNT_4 column ther are 95131 nulls
In the RAMNT_5 column ther are 95403 nulls
In the RAMNT_6 column ther are 94636 nulls
In the RAMNT_7 column ther are 86517 nulls
In the RAMNT_8 column ther are 73940 nulls
In the RAMNT_9 column ther are 78678 nulls
In the RAMNT_10 column ther are 84951 nulls
In the RAMNT_11 column ther are 80672 nulls
In the RAMNT_12 column ther are 69712 nulls
In the RAMNT_13 column ther are 83162 nulls
In the RAMNT_14 column ther are 72095 nulls
In the RAMNT_15 column ther are 88150 nulls
In the RAMNT_16 column ther are 68418 nulls
In the RAMNT_17 column ther are 86011 nulls
In the RAMNT_18 column ther are 75634 nulls
In the RAMNT_19 column ther are 79535 nulls
In the RAMNT_20 column ther are 87524 nulls
In the RAMNT_21 column ther are 85899 nulls
In the RAMNT_22 column ther are 74539 nulls
In the RAMNT_23 column ther are 87553 nulls
In the RAMNT_24 column ther are 77674 nulls
In the RAMNTALL column ther are 0 nulls
In the NGIFTALL column ther are 0 nulls
In the CARDGIFT column ther are 0 nulls
In the MINRAMNT column ther are 0 nulls
In the MINRDATE column ther are 0 nulls
In the MAXRAMNT column ther are 0 nulls
In the MAXRDATE column ther are 0 nulls
In the LASTGIFT column ther are 0 nulls
In the LASTDATE column ther are 0 nulls
In the FISTDATE column ther are 0 nulls
In the NEXTDATE column ther are 9973 nulls
In the TIMELAG column ther are 9973 nulls
In the AVGGIFT column ther are 0 nulls
In the CONTROLN column ther are 0 nulls
In the TARGET_B column ther are 0 nulls
In the TARGET_D column ther are 0 nulls
In the HPHONE_D column ther are 0 nulls
In the RFA_2R column ther are 0 nulls
In the RFA_2F column ther are 0 nulls
In the RFA_2A column ther are 0 nulls
In the MDMAUD_R column ther are 0 nulls
In the MDMAUD_F column ther are 0 nulls
In the MDMAUD_A column ther are 0 nulls
In the CLUSTER2 column ther are 132 nulls
In the GEOCODE2 column ther are 132 nulls

#### 2. Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

    - OSOURCE - symbol definitions not provided, too many categories
    - ZIP CODE - we are including state already

In [25]:
drop_list=[]
df.drop(columns=['OSOURCE','ZIP'], axis=1, inplace=True)

#### 3.Identify columns that over 85% missing values

In [26]:

for col in df:
    if df[col].isnull().sum()/df.shape[0]>0.85:
        drop_list.append(col)
    
print(drop_list)

['NUMCHLD', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7', 'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21', 'RDATE_23', 'RAMNT_3', 'RAMNT_4', 'RAMNT_5', 'RAMNT_6', 'RAMNT_7', 'RAMNT_10', 'RAMNT_13', 'RAMNT_15', 'RAMNT_17', 'RAMNT_20', 'RAMNT_21', 'RAMNT_23']

#### 4. Remove those columns from the dataframe

In [27]:
df.drop(columns=drop_list, axis=1, inplace=True)

In [28]:
df.shape

(95412, 454)

#### 5. Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

Note that there are a few null values in the column. We will first replace those null values using the code below:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [31]:
df['GENDER'].value_counts()

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [32]:
df['GENDER'].isnull().sum()

0

In [34]:
df['GENDER'] = df['GENDER'].fillna('F')

In [40]:
for i in df['GENDER']:
    if i=='U' or i=='J' or i=='C' or i=='A':
        df['GENDER']=df['GENDER'].replace(i, 'other')

In [41]:
df['GENDER'].value_counts()

F        51277
M        39094
          2957
other     2084
Name: GENDER, dtype: int64